body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #09122C;
    color: white;
    padding: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

footer {
    background-color: #BE3144;
    color: white;
    padding: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}